*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em 1em 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nome-academia {
    width: 10em;
}

.cabecalho_links {
    display: flex;
    gap: 4em;
    list-style-type: none;
}

.menu-link {
    font-weight: 500;
    font-style: normal;
    color: black;
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    border-radius: 50px;
}

.menu-link:hover {
    background-color: rgb(36, 36, 36);
    color: white;
}


.buscar-academia {
    background-color: #ff5c00;
    border-radius: 50px;
}

.menu-search {
    vertical-align: middle;
}

.menu-search:hover {
    color: white;
}

.aside-button {
    background: transparent;
    border: 0;
}

.aside-button > span > i  {
    color: #000000;
    vertical-align: middle;
    display: inline-block; 
    transition: color 0.8s ease;
    cursor: pointer;
    font-size: 3em;    
}

.background-noclick {
    display: none;
}

.background-noclick-active {
    position: fixed;
    right: 0;
    top: 0;
    padding: 2em 0 2em 1em;
    background-color: rgba(181, 181, 181, 0.5);
    width: 100vw;
    height: 100%;
    border-radius: 15px 0 0 15px;
    z-index: 1;
}

.menu-openclose:hover {
    color: #ff5c00;    
}


.hoverclose:hover {
    color: rgb(139, 139, 139);
}

.sidebar button i {
    font-size: 100px;
}

.sidebar {
    display: flex;
    position: fixed;
    right: -22em;
    top: 0em;
    padding: 2em 0 2em 1em;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 0 0 15px;
    transition: 1s;
}

.sidebar-active {
    display: flex;
    position: fixed;
    right: 0;
    top: 0em;
    padding: 2em 0 2em 1em;
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: 100vh;
    border-radius: 15px 0 0 15px;
    transition: 1s;
    z-index: 2;
}

.aside-menu {
    display: grid;
    align-items: start;
    justify-content: start;
    top: 0;
    left: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "logo close"
        "lista lista" 
        "lista lista" 
        "lista lista" 
        "lista lista"    
        "lista lista" 
        "lista lista" 
    ;
}

.nome-academia {
    grid-area: logo;
    padding: 0;
}

.close-button {
    grid-area: close;
    top: 0;
    justify-self: end;
    margin-right: 1em;
}

.close-button > span > i {
    font-size: 40px;
}

.sidebar_lista {
    grid-area: lista;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    gap: 1em;
    
}

.asidebar_link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-size: 18px;
    font-weight: 400;
}

.asidebar_link:hover {
    background-color: rgba(red, green, blue, 0.5);
    padding: 0.8em;
    color: #8b8b8b;
    font-weight: 700;
    border-radius: 10px;
}

/* MAIN */

.promocao {
    display: flex;
    justify-content: center;
}

.banner-promocao {
    width: 95vw;
    height: 80vh;
    padding: 0.8em;
    box-sizing: border-box; /* Inclui padding na largura total */
    border-radius: 30px;
    align-self: center;
}

.academia-busca{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.academia-busca_titulo {
    font-size: 2em;
    font-weight: 900;
    padding: 1em;
}

.texto_diferente {
    color: #ff5c00;
}

.academia-busca_mapa {
    width: 95vw;
    height: 70vh;
    padding: 0.8em;
    box-sizing: border-box; /* Inclui padding na largura total */
    border-radius: 30px;
    align-self: center;
}

.academia-busca_academias {
    position: absolute;
    margin-top: 3.7em;
    font-size: 1.3em;
    padding: 0.6em 6em 0.6em 6em;
    background-color: #000000;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    display: flex; /* Adicione esta linha */
    justify-content: space-between; /* Adicione esta linha */
    align-items: center; 
    transition: 0.5s;
    border: white outset 2px;
}

.academia-menu-search {
    position: absolute;
    margin-left: 11em;     
}

.academia-busca_academias:hover {
    background-color: #ff5c00;
    color: #000000;
    font-weight: 700;
    border: white inset 2px;
}


/*Seção valores */

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valores_titulo {
    font-size: 2em;
    padding: 1em 0 0 0;
}

.valores_subtitulo {
    font-size: 1.2em;
    font-weight: 300;

}

/* Tabela de valores */

.tabela_planos {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 32px;
    padding: 32px;
    width: 75em;
}

.tabela_beneficios {
    font-size: 1.2em;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.tabela_plano_beneficio {
    width: 1.8em; 
    
}

.tabela_beneficios_escrito {
    padding-top: 3.5em;
    display: flex;
    flex-direction: column;
    gap: 0.84em;
}

.tabela_linha {
    height: 0.1px;
    background-color: gray;
    width: 275%;
}

.tabela_planoblack, .tabela_planofit, .tabela_planosoul {
    font-size: 1.2em;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 0 16px 0 16px;
}

.tabela_imagens {
    display: flex;
    flex-direction: column;
    margin-top: 1.9em;
    gap: 1.15em;
}

.tabela_condicoes {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin-top: 2em;
}

.tabela_planoblack {
    border: #ff5c00 solid 1.5px;
    border-radius: 20px;
}

.tabela_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabela_titulo_invisivel{
    color: transparent;
    pointer-events: none;
    user-select: none;
}

.tabela_titulo_escrito {
    padding: 0.8em 0 0.2em 0;
}

.tabela_titulo_paragrafo {
    align-self: center;
    color: gray;
    text-align: center;
    font-size: 15px;
}

.tabela_plano_meses {
    font-size: 0.8em;
    color: gray;
}

.tabela_plano_mensal {
    font-size: 1em;
}

.beneficios_academias {
    margin: 5em 1em;
    color: #8b8b8b;
}


/* Experiência Soulfit */

.experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencia_fotos {
    display: flex;
    gap: 3em;
    padding: 3em;
}

.experiencia_titulo {
    padding-top: 2em;
    font-size: 2em;
}

.equipamento_foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 1px 10px gray;
    border-radius: 15px;
    width: 20em;
    transition: ease 0.3s transform;
    cursor: pointer;
}

.equipamento_foto:hover {
    transform: scale(1.2);
    box-shadow: 2px 1px 10px #ff5c00;}

.experiencia_imagem {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.experiencia_paragrafo {
    padding: 1em;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
    margin: auto;
    padding-top: 2em;
    display: block;
    width: 80%; 
    max-width: 700px; 
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#caption {
    margin: auto;
    text-align: center;
    color: white;
    padding: 10px 0;
    width: 80%;
}


/* Seção Exclusividade */

.exclusividade {
    padding: 0 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.exclusividade_titulo_principal {
    text-align: center;
    padding: 2em 0 0em 0 ;
    font-size: 2em;
}

.exclusividade_treinos {
    display: flex;
    gap: 3em;
}

.treinos_exclusivos {
    display: grid;
    grid-template-areas:
        "imagem imagem" 
        "titulo titulo"
        "iconduracao iconenergia"
        "duracao intensidade"
        "duracaoresp intensidaderesp"
        "linha linha"
        "descricao descricao"
        "saiba saiba"
    ;
    justify-items: center;
    box-shadow: 1px 4px 10px gray;
    width: 320px;
    height: 620px;
    border-radius: 10px;
    transition: transform ease 0.3s;
}

.treinos_exclusivos:hover {
    outline: #ff5c00 solid 2px;
}

.exclusividade_imagem {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    grid-area: imagem;

}
.exclusividade_titulo {
    padding: 1em 0;
    width: 100%;
    font-size: 14px;
    background-color: #ff5c00;
    grid-area: titulo;
    text-align: center;
}

.exclusividade_energia-imagem {
    grid-area: iconduracao;
}

.exclusividade_tempo-imagem {
    grid-area: iconenergia;
}

.exclusividade_icone {
    width: 2em;
    padding: 1em 0 0.5em 0;
}

.exclusividade_duracao-paragrafo {
    grid-area: duracao;
    color: #ff5c00;
    font-weight: 600;
}

.exclusividade_duracao-resposta {
    grid-area: duracaoresp;
    font-size: 13px;
    margin-top: 0.2em;
}

.exclusividade_intensidade-paragrafo {
    grid-area: intensidade;
    color: #ff5c00;
    font-weight: 600;
}

.exclusividade_intensidade-resposta {
    grid-area: intensidaderesp;
    font-size: 13px;
    margin-top: 0.2em
}

.exclusividade_linha {
    height: 1px;
    width: 90%;
    grid-area: linha;
    background-color: gray;
    margin: 1em;
}

.exclusividade_descricao {
    grid-area: descricao;
    text-align: center;
    font-size: 15px;
    padding: 0em 1em;
}

.exclusividade_saibamais {
    grid-area: saiba;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 1em;
    color: white;
    background-color: #ff5c00;
    border: white 5px solid;
    border-radius: 30px;
    transition: ease 0.5s;
}

.exclusividade_saibamais:hover {
    background-color: rgb(36, 36, 36);
    color: white;
}

.exclusividade_ver-treinos {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.6em 4em;
    margin: 1em;
    background-color: #ff5c00;
    border-radius: 30px;
    transition: ease 0.5s;
}

.exclusividade_ver-treinos:hover {
    background-color: rgb(36, 36, 36);
    color: white;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

/* Seção app */

.app {
    background-color: #fcc5a5;
    padding: 5em;
    display: flex;
    justify-content: space-between;
    margin: 2em 0 2em 0;
}

.app_descricao {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #ff5c00;
    padding: 2em 2em 0 2em;
    border-radius: 15px;
}

.app_titulo {
    font-size: 32px;
}

.lista_beneficios {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding-left: 2em;
}

.app_beneficio {
    font-size: 16px;
}

.loja_apps {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.app_linha {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 50px solid #ff5c00; /* Cor da flecha */
    align-self: center;
}
